<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SketchPhoto"
        tools:targetApi="s">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>


        <activity
            android:name=".sketchphoto.UI.Activities.DashboardActivity"

            android:theme="@style/AppTheme">

        </activity>

        <!--        <activity
                    android:name=".sketchphoto.UI.Activities.HomeFragmentActivity"
                    android:configChanges="orientation|screenSize" />

                <activity
                    android:name=".sketchphoto.UI.Activities.ChoosePhotoFragmentActivity"
                    android:configChanges="orientation|screenSize"
                    />-->

        <activity
            android:name=".sketchphoto.pencil.ImageRemakeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode" />

        <activity
            android:name=".sketchphoto.UI.Activities.PhotoShare_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode" />

        <activity android:name=".sketchphoto.UI.Activities.MyGalleryActivity" />

        <activity android:name=".sketchphoto.UI.Activities.ViewImageActivity" />

        <activity android:name=".sketchphoto.UI.Activities.FullScreenImageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.photoeditor.sketch.photo.maker.editor.sketchphotoeditor.pencilsketching.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>